body{
    background: linear-gradient(to left, #e2eafc, #022b3a);
}  
.nav-item{
    font-size: 20px;
    font-family: georgia;
}
.box{
    position:absolute;
    right: 0;
    bottom: 0;
}
.box button[type="submit"]{
    border:0px;
    padding:10px 5px;
    text-align: center;
    border:2px solid #022b3a; 
    width: 150px;
    outline: none;
    border-radius: 30px;
    transition: 0.25s;
    background: #1f7a8c;
    color:#e1e5f2;
    cursor: pointer;
    font-size: 20px;
    font-family: georgia;
    color: #003049;
}

.box button[type="submit"]:hover{
    background:#022b3a;
    color: #b5e48c;
}

.container-fluid{
    background: linear-gradient(to left, #e2eafc, #022b3a);
    font-family: georgia;
    color: #b5e48c;
    position: absolute;
    left:0;
    top: 0;
}

.container-fluid h4{
    position: absolute;
    left: 80px;
}

.offcanvas-header{
    background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.offcanvas-body{
    background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.offcanvas-title{
    font-family: georgia;
    color: #023047;
}



.container{
    display: flex;
    position: absolute;
    left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: georgia;
    color: #fff;
    border-radius: 60px;
    background: #83a4d4;  
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  
    background: linear-gradient(to right, #b6fbff, #83a4d4); 

    box-shadow: 10px -10px 10px 5px #0F2027;
 }

 
 .form-box button[type="submit"]{
    border:0px;
    background: #1f7a8c;
    padding:18px 14px;
    text-align: center;
    width: 120px;
    height: 55px;
    outline: none;
    color:#e1e5f2;
    border-radius: 30px;
    border:2px solid #022b3a; 
    cursor: pointer;
    
}

.form-box button[type="submit"]:hover{
    background:#022b3a;
}

.form-box select[name="cursos"],
.form-box select[name="year"],
.form-box select[name="periodo"]{
    border:0px;
    background:none;
    padding:14px 10px;
    text-align: center;
    border:1px solid #022b3a; 
    width: 250px;
    outline: none;
    color:#0d3b66;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 15px;  
}
.form-box select[name="cursos"]:hover,
.form-box select[name="year"]:hover,
.form-box select[name="periodo"]:hover{
    background:#caf0f8;
}


